.blogTitle {
    text-align: center;
    font-family: 'Alegreya', serif;
    margin-top: 5%;
    margin-bottom: 1%;
    color:  #2b3942
  }
  .blogDescription {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color:  #2b3942;
    margin-bottom: 4%;
  }

  button.newPostBtn.btn.btn-primary{
    background-color: #2b3942;
    font-family: "Montserrat", sans-serif;  
    position: relative;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    
  }
  .blogBody {
    margin-bottom: 10%;


  }
 
/* p{
    font-family: "Montserrat", sans-serif;
    font-size: larger;
} */