img {
    max-width: 500px;
    max-height: 500px;
    overflow: "hidden"
}

/* .rightimage{
    text-align: right;
    margin-right: 4%;
    font-family: "Montserrat", sans-serif;
    display: inline;
}

.leftimage {
    text-align: left;
    margin-left: 2%;
    margin-right: 0;
    font-family: "Montserrat", sans-serif;
    display: inline;
} */


p{
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    display: inline;
}

/* .homeTitle2 {
    text-align: left;
    display: inline-block;
}

.homeTitle1{
    text-align: right;
    display: inline-block;
} */

