img {
    max-width: 500px;
    max-height: 500px;
    overflow:auto
}

.rightimage{
    margin-right: 4%;
    font-family: "Montserrat", sans-serif;
    /* display: inline; */
    float: right;
}

.leftimage {
    margin-left: 4%;
    font-family: "Montserrat", sans-serif;
    /* display: inline; */
    float:left;
}


p{
    font-family: "Montserrat", sans-serif;
    font-size: larger;
}

/*  {
    text-align: left  !important ;
    
}

.{
    text-align: right;
    display: inline-flexbox;
}

h1{
    font-family: 'Alegreya', serif;
}

/* div.row{
    display: inline-block;
    width: 1200px;
} */

.meditation ,.dashboard, .homeTitle1 {
margin-left: 4%;
text-align: right;
display: grid;
/* grid-template-columns: (2, 1fr) */


}

.about, .blog,.homeTitle2   {
    margin-right: 4%;
    text-align: left;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr) */
    
}

.divider{
    border: solid #2b3942;
    margin-bottom: 10px;
    margin-top: 10px;
}
.colHome {
    margin-top: 15vh;
}

.homeTitle2Button{
    margin-right: 4%;
    text-align: left;
    display: grid;
    background-color: #2b3942;
    width: 10%;
    justify-content: center;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;

    
}
.homeTitle2Button:hover{
    transition: all 0.2s ease-in-out;
    color: #b6d5db;
    border-radius : 50px;
    font-size: 18px;
}