/* 


.loginboxForm{
    margin-top: 10px;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color:#b6d5db;
    flex-direction: column;
    width: 90%;
    height: 40%;
    padding: 20px;
  } */

.login-screen {
  /* width: 100%;
    height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-screen__form {
  width: 480px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #fff;
}

.login-screen__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #2b3942;
}

/* .login-screen__forgotpassword {
    font-size: 0.7rem;
  }
   */
.login-screen__subtext {
  font-size: 15px;
  display: block;
  margin: 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  color: #2b3942;
  
}

.loginaccount {
  font-size: 20px;
  display: inline-block;
  float: right;
  font-family: "Montserrat", sans-serif;
  color: #2b3942;
}

.inputBoxes {
  display: inline-block;
  float: right;
  font-family: "Montserrat", sans-serif;
  color: #2b3942;

}

.btn.btn-primary.loginaccount{
  background-color: #2b3942;
  color: white;
  font-size: 20px;
  display: inline-block;
  float: right;
}

.loginLables{
  font-family: "Montserrat", sans-serif;
  color: #2b3942;
}
