/* h1 {
    text-align: center;
    font-family: 'Alegreya', serif;
    margin-top: 5%;
    margin-bottom: 3%;
  }

p{
    font-family: "Montserrat", sans-serif;
    font-size: larger;
} */

.musicPlayer {
  background-color: #cfacab;  /*#d69b99*/
  padding: 5%;
}

.meditationVideos {
  padding: 5%;
  /* height: 1rem; */
}