button.contactBtn.btn.btn-primary{
    background-color: #d2807d;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    position: relative;
    border-radius: 50px;
    width: 15%;
    height: 15%;
    border: 3px solid white;    
    font-size: 13px;

    

  }

  .contactBtn:hover{
    /* background-color: white; 
    border-radius: 50%;
    border: 3px solid white; */
    transition-duration: 0.4s;
    transform: scale(1.1); 
    transition: all 0.2s ease-in-out;
    /* background-color: #b6d5db; */
    border-radius : 50px;
    text-decoration:none;
    font-size: 15px;
    
  }
  
  input#formBasicEmail.form-control {
    border-color: #0d2e5b;
    font-family: "Montserrat", sans-serif;
  }
  
  input#formBasicSubject.form-control {
    border-color: #0d2e5b;
    font-family: "Montserrat", sans-serif;
  }
  
  /* textarea#exampleForm\.ControlTextarea1.form-control {
    border-color: #0d2e5b;
    width: 60%;
   
  } */
/* 
  textarea{
    width: 100px;
  } */

  /* form{
      display:-webkit-flexblock;
      align-content:center;
      
  } */

  div.form-group{
      display: inline-flexbox;
      align-content: inherit;
      font-family: "Montserrat", sans-serif;
      color: white;
      
  }

  div {
      display: inline-flexbox;
      font-family: "Montserrat", sans-serif;
  }

  /* .formGroup {
    border-color: #0d2e5b;
    background-color: #0d2e5b;
    font-family: "Montserrat", sans-serif;
  } */

  .form {
    font-family: "Montserrat", sans-serif;
    width: 450px;
    color: white
    

  }
  .contactBody{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

  @media screen and (max-width : 414px){

.form-control{
 width: 60%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.form-label{

  
}

  }