form.search {
    overflow: auto;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    border-color: #003153;
  }
  
 .form-group {
     color: #003153;;
     font-size: 20px;
     font-weight:900;
     font-family: 'Lato', sans-serif;

 }

 input {
     border-color:  #003153;
 }

 button.searchBtn {
    position: absolute;
    margin: 0;
    margin-right: 4%;
    text-align: left;
    display: grid;
    background-color: #2b3942;
    width: 18%;
    justify-content: center;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    
    font-family: "Montserrat", sans-serif;    
    margin-top: 0;
    font-size: 25px;
    padding: 1rem;
 }