.c-player {
  display: flexbox;
  background-color: lemonchiffon;
  padding: 50px;
  border-radius: 16px;
  /* box-shadow: inset -6px -6px; */
}

.c-player > h4 {
  color: black;
  text-align: center;
}

.c-player--details .details-img {
  position: relative;
  width: fit-content;
  margin: 50px auto;
}

.c-player--details .details-img img {
  display: block;
  margin: 0px auto;
  max-width: 250px;
  width: 100%;
  border-radius: 50%;
}

.c-player--details .details-title {
  color: black;
  
}

.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.c-player--controls .playBtn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  font-size: 24px;
}

.c-player--controls .skipBtn .fastBtn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  font-style: 18px;
}

