section.hero {
  /* background-image: url(./portartbackground.png); */
  width: auto;
  height: 32rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}





/*this ensures the logo is completely centered */
.mindfloLogo { 
  margin: 0 auto;
  display: inline-flexbox;
}